streamlit>=1.25.0
python-dotenv
langchain>=0.3.27
langchain-core>=0.3.79
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
chromadb
sentence-transformers
huggingface-hub
